.local/share/*
*.iso
*.pdf
*.tex
*.html
\#*\#
.\#*
# Created by https://www.toptal.com/developers/gitignore/api/tpush
# Edit at https://www.toptal.com/developers/gitignore?templates=tpush

#!! ERROR: tpush is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/tpush

